body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 1000px;
    height: 550px;
    margin-top: 10px;
}

#main {
    float: right;
    width: 750px;
}

#sidebar-left {
    float: left;
    width: 120px;
}

#sidebar-right {
    text-align: center;
    float: right;
    height: 10px;
    width: 70px;
    padding-left: 1px;
}

#sequence {
    position: left;
    width: 600px;
    height: 70px;
}

#legend {
    float: right;
    width: 1px;
    padding: 85px 0 0 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#title {
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    left: 175px;
    top: 40px;
}

#subtitle {
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    width: 600px;
    left: 175px;
    top: 70px;
}

#optionsList {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

#sequence text,
#legend text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    position: relative;
    padding: 20px
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 290px;
    left: 280px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
    padding: 20px
}

#percentage {
    top: 260px;
    left: 305px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
    font-size: 2.5em;
}

#description {
    font-size: 1em;
}

#rawcount {
    font-size: 1.25em;
}

.navigation {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
}

.navigation ul,
.navigation ul li,
.navigation ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul {
    position: relative;
    z-index: 500;
    float: left;
}

.navigation ul li {
    float: left;
    min-height: 0.05em;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
}

.navigation ul li.hover,
.navigation ul li:hover {
    position: relative;
    z-index: 510;
    cursor: default;
}

.navigation ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 520;
    width: 100%;
}

.navigation ul ul li {
    float: none;
}

.navigation ul ul ul {
    top: 0;
    right: 0;
}

.navigation ul li:hover>ul {
    visibility: visible;
}

.navigation ul ul {
    top: 0;
    left: 99%;
}

.navigation ul li {
    float: none;
}

.navigation ul ul {
    margin-top: 0.05em;
}

.navigation {
    width: 13em;
    background: #17223b;
    font-family: 'Open Sans', sans-serif;
    zoom: 1;
}

.navigation:before {
    content: '';
    display: block;
}

.navigation:after {
    content: '';
    display: table;
    clear: both;
}

.navigation a {
    display: block;
    padding: 1em 1.3em;
    color: #ffffff;
    text-decoration: none;
}

.navigation>ul {
    width: 13em;
}

.navigation ul ul {
    width: 13em;
}

.navigation>ul>li>a {
    border-right: 0.3em solid #384f7a;
    color: #ffffff;
}

.navigation>ul>li>a:hover {
    color: #ffffff;
}

.navigation>ul>li a:hover,
.navigation>ul>li:hover a {
    background: #384f7a;
}

.navigation li {
    position: relative;
}

.navigation ul li.has-sub>a:after {
    content: '»';
    position: absolute;
    right: 1em;
}

.navigation ul ul li.first {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.navigation ul ul li.last {
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    border-bottom: 0;
}

.navigation ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.navigation ul ul {
    border: 1px solid #384f7a;
}

.navigation ul ul a {
    color: #ffffff;
}

.navigation ul ul a:hover {
    color: #ffffff;
}

.navigation ul ul li {
    border-bottom: 1px solid #384f7a;
}

.navigation ul ul li:hover>a {
    background: #6b778d;
    color: #ffffff;
}

.navigation.align-right>ul>li>a {
    border-left: 0.3em solid #384f7a;
    border-right: none;
}

.navigation.align-right {
    float: right;
}

.navigation.align-right li {
    text-align: right;
}

.navigation.align-right ul li.has-sub>a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}

.navigation.align-right ul li.has-sub>a:after {
    content: none;
}

.navigation.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100%;
}

.navigation.align-right ul ul li.first {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}

.navigation.align-right ul ul li.last {
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}

.navigation.align-right ul ul {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}